@charset "UTF-8";
.wjs_header {
  border-bottom: 1px solid #cccccc;
}

/* 基本样式清理 */
body {
  height: 2000px;
}

a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #e92322;
}

/* 头部样式 */
.wjs_header .container {
  height: 40px;
}
.wjs_header .container .item {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #cccccc;
}
.wjs_header .container .item:last-child {
  border: 0;
}
.wjs_header .container .item .btn-link {
  text-decoration: none;
  color: #000;
}
.wjs_header .container .item .btn-link:hover {
  color: #e92322;
}
.wjs_header .container .item .btn-danger {
  padding: 2px 12px;
}

/* 导航模块 */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}

.wjs_nav .navbar-default {
  background-color: #fff;
  margin-bottom: 0;
}
.wjs_nav .navbar-header {
  height: 80px;
  line-height: 80px;
}
.wjs_nav .navbar-header .collapsed {
  margin-top: 20px;
}
.wjs_nav .navbar-header .navbar-brand {
  height: 80px;
  line-height: 40px;
}
.wjs_nav .navbar-header .wjs_icon_logo {
  font-size: 50px;
  color: #e92322;
}
.wjs_nav .navbar-header .wjs_icon_word {
  font-size: 36px;
  color: #000;
}
.wjs_nav .collapse li a {
  height: 80px;
  line-height: 50px;
}
.wjs_nav .collapse li a:hover {
  border-bottom: 3px solid #e92322;
}
.wjs_nav .collapse li.active a {
  border-bottom: 3px solid #e92322;
}

/* ------------------- 广告模块 ----------------- */
.wjs_banner {
  overflow: hidden;
}
@media screen and (min-width: 641px) {
  .wjs_banner .item {
    height: 410px;
    overflow: hidden;
  }
  .wjs_banner .item img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: none;
    height: 410px;
  }
}

/* ------------------- 信息模块 ----------------- */
.wjs_info .item {
  margin: 20px 0;
}
.wjs_info .pull-left {
  margin: 0 10px;
}
.wjs_info .pull-left .wjs_icon_info {
  font-size: 30px;
}

/* ==================================
* 预约模块
* ================================== */
.wjs_book {
  height: 89px;
  line-height: 89px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
}
.wjs_book i {
  font-size: 20px;
}
.wjs_book .pull- a {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}

/* ==================================
* 产品模块
* ================================== */
.wjs_product {
  margin-top: 20px;
}
.wjs_product .nav-tabs > li.active > a, .wjs_product .nav-tabs > li.active > a:hover, .wjs_product .nav-tabs > li.active > a:focus {
  border: 0;
  background-color: #fff;
}
.wjs_product .nav-tabs {
  border: 0;
}
.wjs_product .nav-tabs li > a {
  border: 0;
}
.wjs_product .nav li:hover {
  background-color: #fff;
  box-sizing: border-box;
}
.wjs_product .nav li:hover a {
  background-color: #fff;
  border: 0;
}
.wjs_product li.active {
  border-bottom: 3px solid #e92322;
}

/*# sourceMappingURL=index2.css.map */
