@charset "UTF-8";
/*--------------首页---------------------  */
.container {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
}

/*---------头部开始---------*/
.header {
  position: fixed;
  z-index: 333;
  width: 100%;
  height: 40px;
  max-width: 640px;
  padding-left: 80px;
  padding-right: 60px;
}
.header .logo {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 57px;
  height: 21px;
  background-position: 0 -109px;
}
.header .search {
  position: relative;
}
.header .search i {
  position: absolute;
  left: 8px;
  top: 9px;
  width: 20px;
  height: 20px;
  background-position: -60px -109px;
}
.header .search input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-left: 30px;
  margin-top: 5px;
}
.header > a {
  position: absolute;
  right: 16px;
  top: 12px;
}

/*---------banner开始---------*/
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner ul {
  width: 1000%;
  transform: translateX(-10%);
}
.banner ul li {
  width: 10%;
  float: left;
}
.banner ul li img {
  width: 100%;
}
.banner ol {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.banner ol li {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid #fff;
  float: left;
}
.banner ol li.active {
  background-color: #fff;
}

/*---------nav开始---------*/
.nav {
  width: 100%;
  height: 156px;
  padding: 10px;
}
.nav li {
  float: left;
  width: 20%;
  height: 72px;
  text-align: center;
}
.nav li img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

/*---------new开始---------*/
.news {
  position: relative;
  width: 100%;
  height: 30px;
  padding-left: 100px;
  padding-right: 60px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}
.news .logo {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 82px;
  height: 30px;
}
.news ul li {
  height: 30px;
  line-height: 30px;
}
.news > a {
  position: absolute;
  right: 11px;
  top: 7px;
}

/*---------seckill开始---------*/
.seckill {
  position: relative;
  width: 100%;
  overflow: scroll;
}
.seckill i {
  position: absolute;
  left: 8px;
  top: 3px;
  width: 22px;
  height: 22px;
  background-position: -82px -109px;
}
.seckill .title {
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.seckill .title span:first-child {
  letter-spacing: 2px;
  color: red;
}
.seckill .title span:nth-child(2n) {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
}
.seckill .concent {
  width: 100%;
  text-align: center;
}
.seckill .concent ul {
  width: 1000%;
}
.seckill .concent ul li {
  float: left;
  width: 87px;
  height: 106px;
}
.seckill .concent ul li img {
  width: 60px;
  height: 60px;
  margin: 5px auto;
}
.seckill .concent ul li p:nth-of-type(1) {
  font-weight: 700;
  color: red;
}
.seckill .concent ul li p:nth-of-type(2) {
  text-decoration: line-through;
}

.major {
  width: 100%;
}
.major img {
  width: 33%;
  float: left;
}

.jd_concent {
  width: 100%;
}
.jd_concent ul li {
  width: 33.3%;
  float: left;
}
.jd_concent ul li img {
  width: 100%;
}
.jd_concent ul li:nth-last-child(-n+4) {
  width: 50%;
}

/*# sourceMappingURL=index2.css.map */
