@charset "UTF-8";
.jd_container {
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

/*-------------头部开始----------------*/
.jd_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  max-width: 640px;
  width: 100%;
  height: 40px;
}
.jd_header .logo {
  width: 57px;
  height: 21px;
  margin: 7px;
  background-position: 0 -109px;
}
.jd_header .search {
  flex: 1;
  position: relative;
}
.jd_header .search i {
  display: block;
  position: absolute;
  left: 8px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-position: -60px -109px;
  cursor: pointer;
}
.jd_header .search input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-left: 30px;
}
.jd_header .login {
  display: block;
  width: 50px;
  text-align: center;
  color: #ffffff;
}

/*-------------banner开始----------------*/
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner ul {
  width: 1000%;
  transform: translateX(-10%);
}
.banner ul li {
  width: 10%;
  float: left;
}
.banner ol {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.banner ol li {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid white;
}
.banner ol li.active {
  background-color: rgba(255, 255, 255, 0.5);
}

/*-------------nav开始----------------*/
.jd_nav {
  width: 100%;
  background-color: #f5f5f5;
}
.jd_nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 20%;
  padding: 10px 0;
}
.jd_nav li img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.jd_nav li p {
  color: black;
}

/*-------------new开始----------------*/
.jd_news {
  position: relative;
  height: 30px;
  margin: 0 5px;
  padding-left: 100px;
  padding-right: 40px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
}
.jd_news .logo {
  position: absolute;
  left: 11px;
  top: 6px;
  width: 82px;
  height: 30px;
}
.jd_news .info li {
  height: 30px;
  line-height: 30px;
}
.jd_news .info li a {
  color: black;
}
.jd_news > a {
  position: absolute;
  right: 6px;
  top: 6px;
  color: black;
}

/*-------------seckill开始----------------*/
.jd_seckill {
  position: relative;
  height: 136px;
  margin-top: 10px;
}
.jd_seckill .seckill_title {
  height: 30px;
  line-height: 30px;
  padding-left: 35px;
  background-color: #ffffff;
}
.jd_seckill .seckill_title .jd_sprite {
  display: block;
  position: absolute;
  left: 10px;
  top: 3px;
  width: 22px;
  height: 22px;
  background-position: -82px -109px;
}
.jd_seckill .seckill_title span:first-child {
  color: #f23030;
  letter-spacing: 2px;
}
.jd_seckill .seckill_title span:nth-child(2n) {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  border-radius: 5px;
  background-color: #000;
  color: #ffffff;
}
.jd_seckill .seckill_title a {
  margin-right: 10px;
}
.jd_seckill .seckill_content {
  overflow: scroll;
  background-color: #fff;
}
.jd_seckill .seckill_content ul li {
  float: left;
  width: 87px;
  height: 106px;
  text-align: center;
}
.jd_seckill .seckill_content ul li img {
  width: 60px;
  height: 60px;
  margin: 5px auto;
}
.jd_seckill .seckill_content ul li .now_price {
  color: #f23030;
  font-weight: 700;
}
.jd_seckill .seckill_content ul li .old_price {
  text-decoration: line-through;
}

/*-------------major开始----------------*/
.jd_major img {
  float: left;
  width: 33.3%;
}

/*-------------product开始----------------*/
.jd_product li:first-child img {
  width: 33.3%;
  float: left;
}
.jd_product li:nth-child(2),
.jd_product li:nth-child(3) {
  width: 50%;
  float: left;
}

/*# sourceMappingURL=index.css.map */
