/* .shortcut开始 */

body {
    height: 3000px;
}

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
}

.shortcut div {
    height: 31px;
    line-height: 31px;
}

.shortcut ul li {
    float: left;
    height: 31px;
    line-height: 31px;
}

.shortcut ul li a {
    color: #666666;
}

.shortcut ul li a:hover {
    color: #e60012;
}

.shortcut ul li a i {
    font-size: 12px;
    margin-left: 10px;
}

.shortcut ul li.shortcut-string {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 14px 0;
}

/* shortcut结束 */

/* header开始 */

.header {
    height: 105px;
}

.header .w {
    position: relative;
}

.logo {
    margin-top: 26px;
    width: 176px;
    height: 56px;
    background-image: url("../images/logo.png");
}

.logo a {
    font-size: 0;
    display: block;
    width: 176px;
    height: 56px;
}

.search {
    width: 538px;
    height: 36px;
    position: absolute;
    top: 25px;
    left: 347px;
}

.search input[type="text"] {
    width: 458px;
    height: 36px;
    box-sizing: border-box;
    border: 2px solid #b1191a;
    padding-left: 10px;
    font-size: 14px;
}

.search input[type="button"] {
    width: 80px;
    height: 36px;
    background-color: #b1191a;
    color: #fff;
    font-size: 15px;
}

.header ul {
    position: absolute;
    top: 61px;
    left: 347px;
}

.header ul li {
    float: left;
    padding: 8px 11px;
}

header ul li a {
    font-size: 11px;
    color: #666666;
}

.shopcar {
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #f7f7f7;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    position: absolute;
    top: 25px;
    right: 63px;
}

.shopcar .i-r {
    font-size: 12px;
}

.shopcar span {
    display: block;
    height: 15px;
    line-height: normal;
    width: 15px;
    position: absolute;
    background-color: #e60012;
    top: -8px;
    right: 23px;
    border-radius: 8px 8px 8px 2px;
    color: #f7f7f7;
}

/* header结束 */

/* nav开始 */

.nav {
    height: 47px;
    line-height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav ul {
    margin-left: 250px;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    font-size: 16px;
    margin: 15px 52px 0 0;
    color: #333;
}

.nav ul li a:hover {
    color: #e60012;
}

/* nav结束 */

/* main开始 */

/* main第一部分开始 */

.main-first {
    position: relative;
    overflow: hidden;
}

.sidebar {
    width: 209px;
    height: 512px;
    position: relative;
    top: -47px;
    left: 0;
}

.sidebar h4 {
    width: 209px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    background-color: #b1191a;
}

.sidebar ul {
    background-color: #c81623;
}

.sidebar ul li {
    width: 209px;
    height: 31px;
    position: relative;
}

.sidebar ul li a {
    display: block;
    width: 209px;
    height: 31px;
    color: #ffffff;
    font-size: 12px;
    line-height: 32px;
    padding-left: 13px;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #e60012;
}

.sidebar ul li a i {
    height: 30px;
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px;
}

.sidebar ul li a:hover i {
    background-color: #fff;
    color: #e60012;
}

.banner {
    width: 721px;
    height: 455px;
    margin: 10px 0 0 10px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 721px;
    height: 455px;
}

.banner .corner {
    position: absolute;
    right: 50%;
    margin-right: -62px;
    bottom: 8px;
}

.banner .corner span {
    float: left;
    width: 20px;
    margin-right: 5px;
    height: 21px;
    line-height: 21px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #f7f7f7;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.banner .corner .current {
    background-color: red;
}

.banner .focus {
    width: 721px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 0;
}

.banner .focus .left {
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 0;
    cursor: pointer;
}

.banner .focus .right {
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 0;
    cursor: pointer;
}

.main-first .banner ul {
    width: 1000%;
    position: relative;
    top: 0;
    left: 0;
    /* 一定要加定位 */
    /* overflow: hidden; */
}

.main-first .banner ul li {
    float: left;
}

.hot {
    width: 250px;
    height: 453px;
    margin: 12px 0 0 9px;
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
}

.hot-top {
    width: 250px;
    height: 165px;
    position: relative;
}

.hot-top h4 {
    height: 33px;
    width: 250px;
    font-size: 13px;
    color: #333;
    padding: 11px 0 7px 15px;
    box-sizing: border-box;
    border-bottom: 1px dashed #e8e8e7;
}

.hot-top a {
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 19px;
    color: #666666;
}

.hot-top a i {
    font-size: 10px;
    color: #666666;
}

.hot-top ul {
    width: 250px;
    height: 132px;
    padding-top: 12px;
    box-sizing: border-box;
}

.hot-top ul li {
    height: 24px;
}

.hot-top ul li a {
    position: static;
    font-size: 12px;
    margin: 12px 0 0 15px;
}

.hot-top ul li a:hover {
    color: #e60012;
}

.hot-top ul li a span {
    font-weight: 700;
}

.hot-center {
    width: 250px;
    overflow: hidden;
}

.hot-center li {
    width: 62px;
    height: 70px;
    float: left;
    border: 1px solid #e8e8e7;
    /* margin-right: -1px;
    margin-top: -1px; */
    box-sizing: border-box;
    background: url("../images/icons.png") no-repeat;
    text-align: center;
    position: relative;
}

.hot-center li.t2 {
    background-position: -60px 0;
}

.hot-center li.t3 {
    background-position: -123px 0;
}

.hot-center li.t4 {
    background-position: -187px 0;
}

.hot-center li.t5 {
    background-position: 0 -70px;
}

.hot-center li.t6 {
    background-position: -60px -70px;
}

.hot-center li.t7 {
    background-position: -123px -70px;
}

.hot-center li.t8 {
    background-position: -187px -70px;
}

.hot-center li.t9 {
    background-position: 0 -140px;
}

.hot-center li.t10 {
    background-position: -60px -140px;
}

.hot-center li.t11 {
    background-position: -123px -140px0;
}

.hot-center li.t12 {
    background-position: -187px -140px;
}

.hot-center li a {
    display: block;
    width: 62px;
    height: 72px;
    line-height: 115px;
}

.hot-center .jian {
    line-height: normal;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    width: 15px;
    background-color: green;
    color: #fff;
}

.hot-center .jian i {
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    bottom: 0;
    left: 2px;
    z-index: 1;
}

.hot-bottom {
    margin-top: 2px;
}

.hot-bottom img {
    width: 250px;
    height: 75px;
}

.side {
    position: fixed;
    top: 350px;
    left: 50%;
    margin-left: -664px;
    /* 还要加上li的宽度 */
}

.side li a {
    display: block;
    padding: 3px;
    color: #666666;
}

.side li a:hover {
    background-color: #c81623;
    color: #fff;
}

/* main第一部分结束 */

/* main第二部分开始 */

.main-second {
    position: relative;
    z-index: 1;
    margin-top: -36px;
    background-color: #ebebeb;
    overflow: hidden;
}

.main-second .fl {
    width: 206px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
    color: #fff;
    font-size: 17px;
}

.main-second .fl img {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 30px;
}

.main-second ul li {
    float: left;
}

.main-second ul li img {
    width: 247px;
    height: 163px;
}

/* main第二部分结束 */

/* main第三部分开始 */

.main-third-top {
    height: 38px;
    line-height: 38px;
    margin-top: 21px;
}

.main-third-top h2 {
    font-weight: 400;
    font-size: 18px;
}

.main-third-top a span {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../images/icons.png");
    background-position: -421px -111px;
}

.main-third-bottom {
    height: 234px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.main-third-bottom ul {
    width: 1250px;
}

.main-third-bottom ul li {
    width: 200px;
    height: 232px;
    padding: 0 29px;
    box-sizing: border-box;
    float: left;
}

.main-third-bottom ul li img {
    margin-top: 21px;
}

.main-third-bottom ul li p {
    color: red;
    font-size: 18px;
}

.main-third-bottom ul li p span {
    font-size: 14px;
}

/* main第三部分结束      */

/* main第四部分开始 */

.main-forth {
    width: 1250px;
    margin-top: 21px;
    height: 442px;
}

.main-forth h2 {
    width: 1200px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
}

.main-forth-bottom h3 {
    text-align: center;
    margin-left: 18px;
    width: 190px;
    height: 41px;
    line-height: 41px;
    border-bottom: 1px dashed #ccc;
}

.main-forth-bottom-c {
    background-color: #f7f7f7;
}

.main-forth-bottom-c .im {
    display: inline-block;
}

.main-forth-bottom .main-forth-bottom-c h3 {
    text-align: center;
    width: 350px;
    height: 41px;
    line-height: 41px;
    border-bottom: 1px dashed #ccc;
}

.main-forth-bottom-r {
    width: 162px;
    margin-top: 11px;
}

.main-forth-bottom-r li {
    float: left;
}

.main-forth-bottom .main-forth-bottom-r li img {
    height: 56px;
    width: 80px;
    border-right: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

/* main第四部分结束 */